@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  /* background-image: url('https://p1.hiclipart.com/preview/360/805/78/riding-a-wave-blue-sound-wave-illustration-png-clipart.jpg');
  background-size: cover; */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
}
/* <a href="https://lovepik.com/images/png-sound.html">Sound Png vectors by Lovepik.com</a> */
body {
  color: rgb(var(--foreground-rgb));
  
  background-image: url('/subkitz_waves.png');
  opacity: 0.9;
  background-repeat: no-repeat;
  background-position: top;
  
  
  /* background-size: cover; */
  background-color: black;
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
::-webkit-scrollbar {display:none;}